.landing-content-wrapper {
  min-height: 446px;
  overflow: hidden;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;

  .content {
    height: 100%;
    padding: 64px 24px;
    max-width: 1200px;
    position: relative;
    margin: auto;
    will-change: transform;
  }

  .title-wrapper {
    margin: 0 auto 48px;
    text-align: center;

    h1 {
      font-size: 32px;
      color: #314659;
      margin-bottom: 16px;
    }
  }

  .content-block-wrapper {
    position: relative;
    height: 100%;
    top: 25%;
    padding: 20px 0;
  }

  .content-block {
    padding: 0 4%;
    display: inline-block;
    text-align: center;
    min-height: 200px;
    margin-bottom: 24px;
    min-height: 340px;
    padding: 24px;
    transition: box-shadow 0.45s ease 0s;
    opacity: 1;
    transform: translate(0px, 0px);

    img {
      width: 100%;
    }
    
    &:hover {
      box-shadow: 0px 11px 56px rgba(100, 100, 136, 0.15);
    }

    .content-block-icon {
      width: 190px;
      height: 190px;
      font-size: 18px;
      margin: auto;
    }

    .content-block-title {
      font-size: 18px;
      line-height: 32px;
      margin: 10px auto;
      color: rgba(0,0,0,.85);
      font-weight: 500;
      padding: 0;
    }
  }
}

