.landing-footer-wrapper {
  background: #001529;
  overflow: hidden;
  position: relative;
  min-height: 120px;
  color: #999;
  width: 100%;
  margin: 0;
  padding: 0;

  .copyright-wrapper {
    margin-top: 70px;
    padding-top: 10px;
    width: 100%;
    border-top: 1px solid rgba(233,233,233,.1);
  }
}